@page "/"



<SurveyPrompt Title="Below is the program and Functions" />

<h1 class="btn btn-danger" @onclick='Miko'>Click to Start Scraping Engin</h1>

@code{
    private void Miko () {
        
    }
}