@page "/"



<SurveyPrompt Title="Below is the program and Functions" />

<h1 class="btn btn-danger">Click to Start Scraping Engin</h1>
    <span class="input-group-text" id="basic-addon1">Search</span>
      <input type="text" class="form-control" placeholder="Websites,Jobs,Keywords,Music..." aria-label="Placeholder" aria-describedby="basic-addon1">
@code {
    
}